@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

@keyframes stars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-550px);
  }
}

@keyframes twinkling {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

@keyframes float {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-20px) rotate(5deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.planet {
  animation: float 15s ease-in-out infinite;
}

.twinkle {
  animation: twinkling 3s ease-in-out infinite;
}